# dependencies
node_modules
.pnpm-store
.pnp
.pnp.cjs

# next build output
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# vcs / ide / os
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

# misc
coverage
dist
build
