.item {
    width: 100%;
    height: 2.4rem;
    margin: 0.4rem 0 1.4rem 0;
    background-color: var(--item-bg);
    border-radius: var(--item-rounded);
    border-width: 0.15rem;
    border-color: var(--item-border);
    padding-left: 0.5rem;
    outline: none;
    caret-color: rgba(0, 0, 0, 0.35);
    @apply duration-500;
}

.item:hover {
    background-color: var(--item-bg-hover);
    border-color: var(--item-border-hover);
}

.item:focus {
    background-color: var(--item-bg-hover);
    border-color: var(--item-border-hover);
}

.item::placeholder {
    @apply duration-200;
}

.item:focus::placeholder {
    color: transparent;
}