.container {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1100px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-reversed); /* Цвет текста */
    text-align: center;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px; /* Отступ между элементами формы */
}

.input {
    width: 100%; /* Растягиваем на ширину родителя */
    padding: 10px 15px;
    font-size: 16px;
    border: var(--item-border-width) solid var(--item-border); /* Граница */
    border-radius: var(--item-rounded); /* Скругленные углы */
    background: var(--element-background); /* Полупрозрачный фон */
    color: var(--text-regular); /* Цвет текста */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
    border-color: var(--primary-light-2); /* Цвет при фокусе */
    box-shadow: 0 0 8px rgba(97, 218, 251, 0.5); /* Подсветка */
    outline: none;
}

.button {
    background: var(--primary); /* Основной цвет кнопки */
    color: var(--text-reversed); /* Цвет текста */
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: var(--item-rounded); /* Скругленные углы */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background: var(--primary-light-2); /* Более светлый цвет при наведении */
    transform: translateY(-2px); /* Легкий подъем */
}

.button:active {
    background: var(--primary-dark-1); /* Более темный цвет при нажатии */
    transform: translateY(0); /* Сброс подъема */
}
