.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid var(--spinner-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s cubic-bezier( 0.5, 0.2, 0.9, 1 ) infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
