.item {
  list-style-type: none;
  background-color: var(--item-bg);
  border-top-right-radius: var(--item-rounded);
  border-bottom-right-radius: var(--item-rounded);
  position: relative;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  @apply py-4 text-lg transition-all duration-500;
}
.item:hover {
  background-color: var(--primary-light-3);
  @apply transition duration-500;
}
.item > span {
  white-space: nowrap;
  @apply ms-3 transition-opacity duration-200 ease-out;
}


.active  {
  background-clip: padding-box;
  border-left-color: var(--item-border-active);
  border-left-width: var(--list-border-width-selected);
  padding-left: Calc(1rem - var(--list-border-width-selected));
}

/* 
  (1 rem)
  padding-left: 1rem;
  padding-right: 1rem;
  in .item
  AND (1rem)
  padding-left: Calc(1rem - var(--list-border-width-selected));
  in .active
  MUSH BE THE SAME 
*/