.container {
    width: 28rem;
    padding: 1.2rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--item-rounded-lg);
    border: var(--item-border-width) solid var(--item-border);
    @apply shadow-xl;

}

.container > p {
    margin-top: 1.4rem;
}

.container > h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.container p:nth-of-type(1) {
    margin-top: 0;
}



.error {
  color: var(--text-error);
  opacity: 0;
  @apply transition-opacity duration-700;
}

.inputError {
  border-color: var(--error-dark-1)!important;
}
.inputError:hover{
  border-color: var(--error)!important;
}
.inputError:-webkit-autofill,
.inputError:-webkit-autofill:hover,
.inputError:-webkit-autofill:focus,
.inputError:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--error-light-3) inset !important;
  border-color: var(--error-light-3)!important;
}