@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* text colors */
  --background: #fff;
  --element-background: #f9f9f9;
  --text-regular: #060e19;
  --text-reversed: #fff;
  --text-error: #d93333;
  
  /* main elements color palitre */
  --primary-light-3: #add8ff;
  --primary-light-2: #80b9ee;
  --primary-light-1: #559ce4;
  --primary: #3379d9;
  --primary-dark-1: #235a9f;
  --primary-dark-2: #174276;
  --primary-dark-3: #092642;
  --regular: theme(colors.gray.800);
  
  /* main hover */
  --primary-hover: #005fb8;
  --text-hover: #fff;
  
  /* button, inputs, list's items etc. */
  --item-bg: #fff;
  --item-bg-hover: #f9f9f9;
  --item-border: #ededed;
  --item-border-bottom: #d4d4d4;
  --item-border-hover: #005fb8;
  --item-border-active: #005fb8;
  --item-border-width: theme(borderSpacing[0.5]);
  --item-rounded: theme(borderRadius.DEFAULT);
  --item-rounded-lg: theme(borderRadius.lg);

  --spinner-color: var(--primary);

  /* SIZES */
  --list-border-width-selected: theme(borderSpacing[1.5]);

  --navbar-min-width: theme(width.navbarMin);
  --navbar-max-width: theme(width.navbarMax);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.black);
    --foreground: #ededed;
    --item-bg: #1b1b1b;
    --item-bg-hover: theme(colors.gray.900);

  }
} */

body {
  box-sizing: content-box;
  color: var(--text-regular);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}