@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* text colors */
  --background: #fff;
  --element-background: #f9f9f9;
  --text-regular: #060e19;
  --text-reversed: #fff;
  --text-error: #d93333;
  
  /* main elements color palitre */
  --primary-light-3: #add8ff;
  --primary-light-2: #80b9ee;
  --primary-light-1: #559ce4;
  --primary: #3379d9;
  --primary-dark-1: #235a9f;
  --primary-dark-2: #174276;
  --primary-dark-3: #092642;
  --error-light-3: #ffadad;
  --error-light-2: #ee8080;
  --error-light-1: #e45555;
  --error: #d93333;
  --error-dark-1: #9f2323;
  --error-dark-2: #761717;
  --error-dark-3: #420909;
  --regular: theme(colors.gray.800);
  
  /* main hover */
  --primary-hover: #005fb8;
  --text-hover: #fff;
  
  /* button, inputs, list's items etc. */
  --item-bg: #fff;
  --item-bg-hover: #f9f9f9;
  --item-bg-colored-hover: var(--primary-light-3);
  --item-border: #ededed;
  --item-border-bottom: #d4d4d4;
  --item-border-hover: #005fb8;
  --item-border-active: var(--primary-hover);
  --item-border-active-hover: var(--primary-dark-2);
  --item-border-error: #b80000;
  --item-border-error-hover: #d93333;
  --item-border-width: theme(borderSpacing[0.5]);
  --item-rounded: theme(borderRadius.DEFAULT);
  --item-rounded-lg: theme(borderRadius.lg);
  --item-autofill: var(--primary-light-3);
  --item-border-autofill: var(--item-autofill);

  --spinner-color: var(--primary);

  --filled-button-bg: var(--primary-dark-3);
  --filled-button-text: var(--text-reversed);
  --filled-button-bg-hover: var(--primary);

  /* SIZES */
  --list-border-width-selected: theme(borderSpacing[1.5]);

  --navbar-min-width: theme(width.navbarMin);
  --navbar-max-width: theme(width.navbarMax);
}

@media (prefers-color-scheme: dark) {
  :root {
  /* text colors */
  --background: #272727;
  --element-background: #f9f9f9;
  --text-regular: #fff;
  --text-reversed: #060e19;
  
  /* main hover */
  --primary-hover: var(--primary-dark-1);
  --text-hover: #fff;
  
  /* button, inputs, list's items etc. */
  --item-bg: #272727;
  --item-bg-hover: #404040;
  --item-bg-colored-hover: var(--primary-dark-1);
  --item-border: #1c1c1c;
  --item-border-bottom: #303030;
  --item-border-active: var(--primary-hover);
  --item-border-active-hover: var(--primary);
  --item-autofill: #999999;;
  /* --item-autofill: #60cdff; */
  --item-border-autofill: var(--item-autofill);

  --spinner-color: var(--primary);

  --filled-button-bg: var(--primary-dark-1);
  --filled-button-text: var(--text-regular);
  --filled-button-bg-hover: var(--primary);

  }
}


body {
  box-sizing: content-box;
  color: var(--text-regular);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}