.header {
  background-color: var(--primary-dark-3); /* Цвет фона */
  padding: 15px; /* Отступы */
  display: flex; /* Flexbox для выравнивания */
  justify-content: space-between; /* Элементы по краям */
  align-items: center; /* Центрирование по вертикали */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Тень */
  max-width: 1100px; /* Ограничение ширины */
  margin: 0 auto; /* Центрирование */
  border-radius: 5px; /* Скругленные углы */
}

.logo {
  color: #61dafb; /* Цвет логотипа */
  font-size: 28px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
  flex-shrink: 0; /* Запрещаем сжимать логотип */
}

.nav {
  display: flex; /* Flexbox для навигации */
  justify-content: center; /* Центрирование элементов */
  flex-grow: 1; /* Навигация растягивается, чтобы занять все пространство */
}

.navList {
  list-style: none; /* Убираем маркеры списка */
  display: flex; /* Flexbox для списка */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  align-items: center; /* Центрируем по вертикали */
}

.navItem {
  margin: 0 20px; /* Отступы между элементами */
  position: relative; /* Для псевдоэлементов */
  min-width: 120px; /* Минимальная ширина для элемента */
  display: flex;
  justify-content: center;
}

.navButton {
  background: none; /* Убираем фон */
  border: none; /* Убираем границы */
  color: #ffffff; /* Цвет текста */
  font-size: 20px; /* Размер шрифта */
  padding: 10px 20px; /* Внутренние отступы */
  width: 120px; /* Фиксированная ширина для всех кнопок */
  text-align: center; /* Центрируем текст */
  border-radius: 5px; /* Скругление */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход */
}

.navButton:hover {
  background-color: #61dafb; /* Цвет фона при наведении */
  color: #282c34; /* Цвет текста при наведении */
}

.languageSwitcher {
  margin-left: auto; /* Отодвигаем кнопку вправо */
}

.languageButton {
  padding: 8px 15px;
  font-size: 16px;
  border: 1px solid #61dafb;
  background-color: transparent;
  color: #61dafb;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 80px; /* Минимальная ширина кнопки */
}

.languageButton:hover {
  background-color: #61dafb;
  color: #282c34;
}
