.header {
  background: var(--element-background); /* Используем переменную для фона */
  backdrop-filter: blur(10px); /* Эффект размытия */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Мягкая тень */
}

.logo {
  color: var(--primary-dark-1); /* Основной акцентный цвет */
  font-size: 28px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navItem {
  margin: 0 16px;
  position: relative;
}

.navButton {
  background: none;
  border: none;
  color: var(--text-regular); /* Цвет текста на темном фоне */
  font-size: 18px;
  padding: 8px 16px;
  text-align: center;
  border-radius: var(--item-rounded);
  cursor: pointer;
  transition: all 0.3s ease;
}

.navButton:hover {
  background: var(--primary-light-3); /* Полупрозрачный фон при наведении */
  color: var(--primary); /* Основной акцентный цвет */
}

.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* Отступ между кнопками */
}

.languageButton,
.themeButton {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid var(--primary-light-1); /* Цвет границы */
  background: transparent;
  color: var(--primary-light-3);
  border-radius: var(--item-rounded);
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50px;
}

.languageButton:hover,
.themeButton:hover {
  background-color: var(--primary-light-2); /* Цвет фона при наведении */
  color: var(--text-regular);
  border-color: var(--primary);
}

.themeButton:active {
  background: var(--primary-dark-1); /* Цвет активной кнопки */
}
