.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.spinner {
  position: absolute;
  z-index: 101;
  top:50%;
  left:50%;
}

.pointerEventNone {
  pointer-events: none;
}